.header{
    background: url("../Images/header-frame.png") repeat-x center;
    /* position: relative; */
    width: 100%;
    max-height: 145px;
    height: 145px;
    position: relative;
}
.header .container{
    position: relative;
}

.btn--logo {
    margin-right: 10px;
}


.header .container .header--bg div.left {
    position: absolute;
    top: 50%;
    left: 0;
}
.header .container .header--bg div.left img {
    max-width: 90px;
}


.header .container .header--bg div.center {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0px);
}
.menu {
    margin: 0 0 -35px 0;
    text-align: center;
}
.menu img {
    margin: 0 -10px;
}


.header .container .header--bg div.right {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, 70%);
}
.header .container .header--bg div.right img {
    margin: 0 10px;
}

.header--bg.pc {
    display: block;
}
.header--bg.mb {
    display: none;
}

.bg-gradients {
    background: linear-gradient(180deg, rgba(130,152,185,1) 0%, rgba(0,0,0,1) 53%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    max-height: 150px;
}

.footer--section{ display: none;}

/*modal*/
.modal-content {
    background-color: transparent;
    border: 0;
}
.menu--hamburger--img img {
    width: 100%;
    margin: 10px 0;
}
.fade.showmenu--hamburgerbar--modal.modal.show {
    margin-top: 50px;
}
/* .modal-backdrop.show {
    opacity: unset;
    margin-top: 100px;
} */
.modal-backdrop.show {
    opacity: 0.7;
}

.wrapper--section--hamburger {
    width: 400px;
    margin: auto;
}


.show--notification--modal ul.nav.nav-tabs{
    color: #fff;
    width: 100%;
    border: 1px solid #E63E6D;
    border-radius: 10px;
    margin: 40px auto;
    justify-content: space-evenly;
    /* background: linear-gradient(180deg, rgb(230 62 109 / 64%) 21%, rgb(230 62 109 / 0%) 100%); */
    background: linear-gradient(180deg, rgb(230 62 109 / 64%) 21%, rgb(0 0 0) 90%);
    position: relative;
    box-shadow: 3px 5px 30px #e9688c;
}
.show--notification--modal .nav-tabs .nav-item.show .nav-link, .show--notification--modal .nav-tabs .nav-link.active {
    color: #ffb9cd;
    background-color: transparent;
    border-color: unset;
}
.show--notification--modal .tab-content {
    color: #fff;
    text-align: center;
}
.modal-dialog {
    margin: auto;
}

.fade.show--notification--modal.modal.show {
    margin-top: 80px;
}


@media screen and (max-width: 1280px){
    .header {
        max-height: 105px;
        height: 105px;
    }
    .menu {
        margin: 0 0 -24px 0;
    }
    .menu img {
        margin: 0 -7px -7px;
    }
    .header .container .header--bg div.center {
        width: 360px;
    }
    .header {
        max-height: 100px;
        height: 100px;
    }
    .header .container .header--bg div.center {
        width: 480px;
        left: 51%;
    }
    .header .container .header--bg div.center .menu img {
        width: 95px;
    }
    .header .container .header--bg div.center .header--center {
        width: 100%;
    }


    .header .container .header--bg div.right {
        transform: translate(0, 35%);
    }
    .header .container .header--bg div.left img {
        max-width: 80px;
    }
    .header .container .header--bg div.left {
        transform: translate(0px, -4%);
    }
}

@media screen and (max-width: 991px){
    .header {
        background-size: 100% 100%;
    }
    .header .container {
        position: relative;
        max-width: 95%;
    }
    .menu {
        margin: 0 0 -20px 0;
    }
    .header .container .header--bg div.center {
        width: 360px;
        left: 51%;
    }
    .header .container .header--bg div.center .menu img {
        width: 76px;
    }
    .header .container .header--bg div.center {
        width: 360px;
        left: 51%;
        transform: translate(-50%, 10px);
    }
    .header .container .header--bg div.left img {
        max-width: 65px;
    }
    .header .container .header--bg div.right img {
        width: 25px;
    }
    .header .container .header--bg div.left {
        transform: translate(0px, 0%);
    }
    .header .container .header--bg div.right {
        transform: translate(0, 80%);
    }

}

@media screen and (max-width: 800px){
    .header {
        max-height: 90px;
        height: 90px;
    }
    .header .container .header--bg div.center {
        width: 300px;
        left: 51%;
        transform: translate(-50%, 15px);
    }
    .header .container .header--bg div.center .menu img {
        width: 66px;
    }
    .header .container .header--bg div.right img {
        width: 20px;
        margin: 0 5px;
    }
    .header .container .header--bg div.left img {
        max-width: 55px;
    }
    .header .container .header--bg div.left {
        transform: translate(0px, 3%);
    }
    .menu img {
        margin: 0px -7px -3px;
    }
    .header .container .header--bg div.center {
        transform: translate(-50%, 10px);
    }
    .header .container .header--bg div.left img {
        max-width: 60px;
    }
}


@media screen and (max-width: 767px){
    .header--bg.pc {
        display: none;
    }
    .header--bg.mb {
        display: flex;
        justify-content: space-between;
    }

    .header{
        background: url("../Images/nav-header-mb-nologo.png") no-repeat left;
        width: 100%;
        max-height: 154px;
        height: 154px;
        background-size: cover;
        background-size: 100%;
    }

    .header .container .header--bg div.center .menu img {
        width: 46%;
        margin: 21px 5px;
    }

    .header .container .header--bg div.left img {
        max-width: 143px;
        margin: -7px 0;
    }

    .header .container .header--bg div.left, .header .container .header--bg div.center,.header .container .header--bg div.right{
        position: unset;
        transform: none;
    }
    .header .container .header--bg div.center{
        width: 100%;
    }

    .header .container .header--bg div.center .menu img {
        width: 39%;
        margin: 30px 8px;
    }
    .header .container .header--bg div.center .menu {
        text-align: left;
    }
    .header .container .header--bg div.right {
        width: 37%;
        padding: 44px 0;
        text-align: end;
    }
    .header .container .header--bg div.right img {
        width: 29px;
    }

    .footer--section{ display: block;}

    .fade.showmenu--hamburgerbar--modal.modal.show {
        margin-top: 160px;
    }
}

@media screen and (max-width: 752px){
    .header .container .header--bg div.center .menu img {
        width: 40%;
    }
}

@media screen and (max-width: 740px){
    .header .container .header--bg div.left img {
        max-width: 150px;
    }
    .menu {
        margin: 0 0 -18px 0;
    }
}

@media screen and (max-width: 700px){
    .menu img {
        margin: 0px -7px 0px;
    }
    .menu {
        margin: 0 0 -18px 0;
    }
    .header .container .header--bg div.center .menu img {
        width: 39%;
        margin: 33px 8px;
    }
    .all--games--section{
        padding: 0 30px;
        margin-top: 50px;
    }
}

@media screen and (max-width: 650px){
    .btn--logo {
        margin-right: 6px;
    }
    .header .container .header--bg div.center .menu img {
        width: 39%;
        margin: 40px 8px 0;
    }
    .header .container .header--bg div.left img {
        max-width: 140px;
        margin: 0 0;
    }
    .header .container .header--bg div.right img {
        width: 29px;
    }
}

@media screen and (max-width: 593px){
    .header .container .header--bg div.center .menu img {
        width: 39%;
        margin: 40px 8px 0;
    }
}
@media screen and (max-width: 590px){
    .header {
        max-height: 128px;
        height: 128px;
    }
    .menu {
        margin: 0 0 -17px 0;
    }
    .header .container .header--bg div.left img {
        max-width: 114px;
        margin: -4px 0 0 0;
    }
    .header .container .header--bg div.center {
        width: 100%;
        transform: none;
    }
    .header .container .header--bg div.center .menu img {
        width: 43%;
        margin: 27px 5px 0;
    }
    .header .container .header--bg div.right {
        width: 45%;
        padding: 29px 0;
        text-align: end;
    }
}

@media screen and (max-width: 536px){

}

@media screen and (max-width: 520px){
    .header {
        max-height: 111px;
        height: 111px;
    }
    .header .container .header--bg div.left img {
        max-width: 102px;
        margin: -2px 0 0 0;
    }
    .header .container .header--bg div.center .menu img {
        width: 45%;
        margin: 27px 5px 0;
    }
    .header .container .header--bg div.right img {
        width: 25px;
    }

    .wrapper--section--hamburger {
        width: 300px;
        margin: auto;
    }
}

@media screen and (max-width: 472px){
    .hot--game--img img {
        width: 23%;
        height: auto;
    }
    .fade.showmenu--hamburgerbar--modal.modal.show {
        margin-top: 120px;
    }
}

@media screen and (max-width: 460px){
    .header {
        max-height: 97px;
        height: 97px;
    }
    .header .container .header--bg div.left img {
        max-width: 89px;
    }
    .header .container .header--bg div.center .menu img {
        width: 44%;
        margin: 23px 5px 0;
    }
    .header .container .header--bg div.right img {
        width: 24px;
    }
    .header .container .header--bg div.right {
        padding: 25px 0;
    }
}

@media screen and (max-width: 399px){
    .header {
        max-height: 86px;
        height: 86px;
    }
    .header .container .header--bg div.center .menu img {
        width: 44%;
        margin: 19px 5px 0;
    }
    .header .container .header--bg div.left img {
        max-width: 78px;
        margin: -2px 0 0 0;
    }
    .header .container .header--bg div.right {
        padding: 20px 0;
    }
    .header .container .header--bg div.right img {
        width: 20px;
        margin: 0 2px;
    }
    .fade.showmenu--hamburgerbar--modal.modal.show {
        margin-top: 90px;
    }

    .wrapper--section--hamburger {
        width: 250px;
        margin: auto;
    }
}
@media screen and (max-width: 361px){
    .header .container .header--bg div.center .menu img {
        width: 43%;
    }
}
@media screen and (max-width: 355px){
    .header {
        max-height: 76px;
        height: 76px;
    }
    .header .container .header--bg div.left img {
        max-width: 67px;
        margin: 0px 0 0 0;
    }
    .header .container .header--bg div.center .menu img {
        width: 42%;
        margin: 18px 5px 0;
    }
    .header .container .header--bg div.right {
        padding: 17px 0;
    }
    .header .container .header--bg div.right img {
        width: 18px;
        margin: 0 3px;
    }
    .fade.showmenu--hamburgerbar--modal.modal.show {
        margin-top: 80px;
    }
}

@media screen and (max-width: 340px){
    .header {
        max-height: 73px;
        height: 73px;
    }
    .header .container .header--bg div.center .menu img {
        width: 42%;
    }
    .header .container .header--bg div.left img {
        max-width: 64px;
    }
    .header .container .header--bg div.right {
        padding: 15px 0;
    }
}

@media screen and (max-width: 336px){
    .header {
        max-height: 70px;
        height: 70px;
    }
    .header .container .header--bg div.left img {
        max-width: 61px;
    }
    .header .container .header--bg div.center .menu img {
        margin: 16px 5px 0;
    }
    .header .container .header--bg div.right {
        padding: 13px 0;
    }
}

@media screen and (max-width: 332px){
    .header {
        max-height: 67px;
        height: 67px;
    }
    .header .container .header--bg div.left img {
        max-width: 59px;
    }
    .header .container .header--bg div.center .menu img {
        margin: 15px 5px 0;
    }
    .header .container .header--bg div.right {
        padding: 12px 0;
    }
}