.bg--promotion {
    background: url("../Images/bg-promotion.png");
    position: fixed;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    background-size: cover;
}
.pc.promotion--header--box {
    text-align: center;
}
img.promotion--header--img {
    margin: 20px -12px;
}

.promotion--body {
    width: 900px;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}

ul.nav.nav-tabs {
    color: #fff;
    width: 100%;
    border: 1px solid #E63E6D;
    border-radius: 10px;
    margin: 40px auto;
    justify-content: space-evenly;
}
li.nav-item button {
    color: #fff;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    isolation: unset;
    border-color: unset;
}
.nav-tabs .nav-link {
    margin-bottom: unset;
    background: 0 0;
    border: unset;
    border-top-left-radius: unset;
    border-top-right-radius: unset;
}
.nav-link:focus, .nav-link:hover {
    color: #E63E6D;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #E63E6D;
    background-color: transparent;
    border-color: unset;
}

@media screen and (max-width: 1000px){
    .promotion--body {
        width: 90%;
    }
}

@media screen and (max-width: 767px){
    .mb--bg--top {
        background: url("../Images/nav-header-mb-nologo.png");
        background-repeat: no-repeat;
        background-size: auto;
    }
    .mb--promotion--header{
        background: url("../Images/top-bar-repeat.png");
        background-repeat: repeat-x;
    }
    .mb--promotion--header .mb--bg--top .left img {
        width: 135px;
    }
    .mb--bg--top .left, .mb--bg--top .center, .mb--bg--top .right {
        display: inline-block;
    }
    .mb--bg--top .right {
        float: right;
        margin: 40px 10px;
    }
    .mb--bg--top .center img {
        width: 120px;
        margin: 0 8px 0 10px;
    }
    .mb--bg--top .right img {
        margin: 0 5px;
        width: 35px;
    }

    .promotion--title img {
        width: 400px;
        margin: 30px 0 0 0;
    }
}

@media screen and (max-width: 567px){
    .mb--bg--top .center img {
        width: 90px;
        margin: 0 8px 0 3px;
    }
    .mb--bg--top .right img {
        width: 28px;
    }
    .mb--bg--top .right {
        margin: 47px 10px;
    }
}
@media screen and (max-width: 471px){
    .mb--bg--top .center img {
        width: 80px;
        margin: 0 5px 0 0px;
    }
    .mb--bg--top .right img {
        width: 23px;
    }
    .promotion--title img {
        width: 250px;
    }
}
@media screen and (max-width: 424px){
    .mb--promotion--header .mb--bg--top .left img {
        width: 100px;
    }
    .mb--bg--top {
        background-size: cover;
        height: 91px;
    }
    .mb--promotion--header {
        background: #000;
    }
    .mb--promotion--header .mb--bg--top .left img {
        width: 81px;
    }
    .mb--bg--top .right {
        margin: 23px 5px;
    }
    .mb--bg--top .center img {
        width: 80px;
        margin: 0 1px 0 5px;
    }
}

@media screen and (max-width: 381px) {
    ul.nav.nav-tabs {
        font-size: 11px;
    }
}

@media screen and (max-width: 363px){
    .mb--bg--top .center img {
        width: 65px;
    }
    .mb--bg--top .right img {
        width: 14px;
        margin: 0 3px;
    }
}

@media screen and (max-width: 318px) {
    ul.nav.nav-tabs {
        font-size: 9px;
    }
}

@media screen and (max-width: 293px){
    .mb--bg--top .center img {
        width: 51px;
    }
    ul.nav.nav-tabs {
        font-size: 7px;
    }
}
