@font-face {
    font-family: "sukhumvitSetMedium";
    /*Can be any text*/
    src: local("sukhumvitSet-Medium"),
        url("../Fonts/sukhumvit/ttf/SukhumvitSet-Medium.ttf") format("truetype");
}

.font-bold {
    font-weight: 600;
}

.font-italic {
    font-style: italic;
}

body {
    margin: 0;
    position: relative;
    font-family: "sukhumvitSetMedium" !important;
    color: #fff !important;
}

p {
    margin: 0;
}

.wrapper {
    background-image: url(../Images/new-ai/bg-pc.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    /* height: 100lvh;
    width: 100lvw; */
    position: fixed;
    overflow-y: scroll;
}

/* new-ai */

.container-box {
    width: 1340px;
    margin: auto;
}

img {
    width: 100%;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

/* section-start */
.img-start-logo {
    max-width: 350px;
    width: 100%;
    margin: auto;
}

.section-start-banner {
    max-width: 752px;
    width: 100%;
    margin: auto;
}

.section-start-text h1 {
    color: #FFF;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-top: 2rem;
}

.section-start-text p {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    margin-top: 1rem;
}

/* section-menu */
.menu-flex img {
    width: 380px;
}

.menu-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

/* section-title */
.box-bg-title {
    background-image: url(../Images/new-ai/box-bg-title.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 44px;
}

.bg-title {
    background-image: url(../Images/new-ai/bg-title.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    Width: 462px;
    Height: 124px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 33.313px;
    font-weight: 700;
}

/* section-promotion */
.promotion-box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 28px;
    margin-top: 32px;
}

.promotion-banner,
.promotion-banner-mini {
    width: 638px;
}

.promotion-text {
    background-image: url(../Images/new-ai/bg-text-promotion.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 492.15px;
    padding: 36px;
}

.promotion-text-box {
    height: 430px;
    overflow: auto;
    scrollbar-width: none;
}

.splide__pagination__page.is-active {
    background: #fff;
    transform: scale(1.4);
    z-index: 1;
}

.splide__pagination__page.is-active {
    background: #ffffff00 !important;
    transform: scale(1.4);
    z-index: 1;
}

.splide__pagination__page.is-active {
    background-image: url(../Images/new-ai/splide-active.png) !important;
    background-size: 100% 100% !important;
    opacity: 1 !important;
    width: 72.063px !important;
    height: 13.512px !important;
    margin: 0rem 1rem !important;
}

.splide__pagination {
    bottom: -2em !important;
    gap: 0px !important;
}

.splide__pagination__page {
    background: url(../Images/new-ai/splide.png) !important;
    background-size: 100% 100% !important;
    border-radius: 0px !important;
    width: 36.031px !important;
    height: 13.512px !important;
}

.promotion-banner-mini .splide__pagination {
    display: none;
}

.promotion-banner-mini {
    margin-top: 3.5rem;
}